<form action="/madlib">
        <label for="person-input">Name</label>
        <input id="person-input" type="text" name="person" />
        <label for="color-input">Pick a Color</label> 
        <input id="color-input" type="text" name="color" /> 
        <label for="noun-input">Pick a Noun</label> 
        <input id="noun-input" type="text" name="noun" /> 
        <label for="adjective-input">Pick an Adjective</label> 
        <input id="adjective-input" type="text" name="adective" />     
      <button type="submit">Say Hello</button>
  </form>